body{background-color: lightgoldenrodyellow;}
h1{
    font-size: 30px;
    color: #e0641c;
}

h2{
    font-size: 30px; color: pink;
}

.big{font-size: 60px;}

.uppercase{
    text-transform: uppercase;
}

.big.uppercase{
    color: black;
}

h1 span{
    color: violet;
}